
@model IEnumerable<HatBazar.Models.Package_With_Product>

@{
    ViewBag.Title = "Index";
}

<h2>Item</h2>





<table class="table">
    <tr>
        <th>
            <label>Product Name </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit_Name)
        </th>


        <th>
            <label>Photo </label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit_Name)
            </td>


            <td>
                @*@Html.DisplayFor(modelItem => item.Product_Image.Image)*@
                <img src="@item.Photo" alt="Wrong Photo" width="50" height="50" />
            </td>
            <td>
                @Html.ActionLink("Remove ", "Remove", new { id = item.Product_Id })
                @Html.ActionLink("Add ", "Add", new { id = item.Product_Id })
            </td>
        </tr>
    }

</table>
<div>

    @Html.ActionLink("Go To Campaign", "Index", "Campaign")

</div>
