@model HatBazar.Models.ProductModel

@{
    ViewBag.Title = "Delete";
}


<div>
    <h4>Product_Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_per_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_per_unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Model.Image" alt="Wrong Image" width="300" height="300" />
        </dd>
@if (Session["UserName"].ToString() == "ADMIN1" || Session["UserName"].ToString() == "ADMIN2")

{
        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catagory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catagory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

}

    </dl>
       
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
                @Html.ActionLink("Back to List", "Index")
        </div>
    
</div>
