@{
    ViewBag.Title = "LogedIn";
}

<h2>LogedIn</h2>

@if (Session["UserID"] != null)
{
    <h2>Hellow @Session["UserName"].ToString()</h2>

    @Html.ActionLink("My Page", "Index", "MyPage")
    @Html.ActionLink("My Product", "Index", "MyProduct")
    @Html.ActionLink("Admin", "Index", "Admin")
    <div>
        @Html.Partial("_partiallogoff")
    </div>

    @*@Html.ActionLink("Admin", "Admin", "Home")*@

}

